SERVER_IP=111.111.11.111
DOMAIN_NAME=your_domain_name.net
POSTGRES_DB=postgres_db_name
POSTGRES_USER=postgres_db_user
POSTGRES_PASSWORD=postgres_db_password
DB_NAME=postgres_db_name
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-%x%lkjkjkjnjkbjvfchghnkjlllmkbjhvgh
DEBUG=False