SERVER_IP=111.111.11.111
DOMAIN_NAME=your_domain_name.net
POSTGRES_DB=postgres_db_name
POSTGRES_USER=postgres_db_user
POSTGRES_PASSWORD=postgres_db_password
DB_NAME=postgres_db_name
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-%x%lkjkjkjnjkbjvfchghnkjlllmkbjhvgh
DEBUG=False
REDIS_HOST=redis://redis:6379/1
REDIS_SK_HOST=redis
REDIS_HOST=redis
REDIS_POSRT=6379


REDIS_HOST=redis://redis:6379
GMAIL_USERNAME=mygmail@gmail.com

CELERY_BROKER_URL = 'redis://redis:6379/1'
CELERY_RESULT_BACKEND = 'redis://redis:6379/1'

# Анонимизация имени, фамилии и отчества пользователей (замена символов на '*')
# По умолчанию используется значение False. Для включения установить True.
ANONYMIZE_DATA=True

GMAIL_SEND_MESSAGE=True

# Один из вариантов: SMTP/FILE
EMAIL_BACKEND=SMTP
