{% extends "mail_templated/base.tpl" %}

{% block subject %}
  Психолог готов вас принять!
{% endblock %}

{% block html %}
  Здравствуйте!
  <p>
    Психолог присоединился к чату. Для того чтобы начать общение со специалистом перейдите по ссылке
  </p>
  <p>
    <a href="{{ chat_url }}"> {{ chat_url }} </a>.
  </p>
<p>
  Мы надеемся, что Ваше пребывание на нашем сервисе будет комфортным и поможет 
  Вам почувствовать себя лучше в сложившейся ситуации.
  <br>
  <br>
  Спасибо за участие в проекте “Давай поговорим”. Если у Вас возникнут вопросы или Вам потребуется 
  дополнительная поддержка обращайтесь в нашу службу поддержки.  желаем Вам 
  успешных и продуктивных консультаций.
</p>
<p>
  С Уважением, <br>
  Команда проекта “Давай поговорим” 
</p>
{% endblock %}