{% extends "mail_templated/base.tpl" %}

{% block subject %}
Ваши документы проверены!
{% endblock %}

{% block html %}
Здравствуйте {{user.last_name}} {{user.first_name}},
<br>
Мы рады сообщить вам, что ваши загруженные документы в сервисе «Давай поговорим» успешно прошли проверку! Это означает, что вы теперь можете начать свою работу на нашем сервисе и взаимодействовать с клиентами. Ваш вклад в области психологической помощи имеет огромное значение, и мы уверены, что ваш профессионализм и забота о клиентах принесут множество положительных результатов. 
<br>
<br>
Если у вас возникнут вопросы или вам потребуется дополнительная поддержка, не стесняйтесь обращаться к нашей службе поддержки. Спасибо за ваше участие в сообществе «Давай поговорим» Желаем вам успешных и продуктивных консультаций. 
<br>
<br>
С уважением, 
Команда «Давай поговорим»
{% endblock %}