{% extends "mail_templated/base.tpl" %}

{% block subject %}
Регистрация прошла успешно!
{% endblock %}

{% block html %}
Поздравляем! Ваша регистрация на нашем сервисе бесплатной психологической помощи «Давай поговорим»  прошла успешно. Мы рады приветствовать вас в нашем сообществе, посвященном поддержке и заботе о психическом здоровье.
<br>
<br>
Теперь у вас есть доступ к вашему личному кабинету, где вы сможете управлять своим профилем и взаимодействовать с вашими клиентами. https://dpogovorim.ru/account
<br>
<br>
Мы уверены, что ваш вклад в наше сообщество сделает его более разнообразным и полезным для наших пользователей. Спасибо за ваше участие! Если у вас возникнут вопросы или вам потребуется помощь, не стесняйтесь связаться с нашей службой поддержки.
<br>
<br>
С уважением, Команда «Давай поговорим»
{% endblock %}