{% extends "mail_templated/base.tpl" %}

{% block subject %}
Регистрация прошла успешно!
{% endblock %}

{% block html %}
  Поздравляем! Ваша регистрации на нашем сервисе бесплатной психологической 
  помощи “Давай поговорим” прошла успешно. <br>
  Теперь Вы можете зайти в <a href="https://dpogovorim.ru/account">личный кабинет</a>,
   чтобы завершить регистрацию и начать работать.
  <br>
  <br>
  Спасибо за Ваше участие  в нашем проекте “Давай поговорим”. Мы уверены, что Вы 
  сможете внести большой вклад в развитие нашего сервиса, а также сможете 
  отточить собственные навыки и знания .
  <br>
  <br>
  С Уважением,<br> 
  Команда проекта “Давай поговорим” 
  
{% endblock %}