</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
</head>
<body>
    <div id="chat-log"></div>
    <input type="text" id="message-input">
    <button id="send-button">Отправить</button>

    <script>
        const chat_secret_key = '7fdKYDAYgFASHOMoe5mi'
        const chatLog = document.querySelector('#chat-log');
        const messageInput = document.querySelector('#message-input');
        const sendButton = document.querySelector('#send-button');
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');

        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${chat_secret_key}/?token=${token}}`);

        chatSocket.onopen = function (e) {
            console.log('WebSocket connection opened');
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const message = data.message;
            const user = data.user;
            const date = data.date;
            const sender = data.sender;
            const messageElement = document.createElement('div');
            
            // Отображаем имя пользователя и сообщение
            messageElement.innerText = 'data: ' + date + '\nsender: ' + sender + '\n' + message;
            
            chatLog.appendChild(messageElement);
        };

        sendButton.addEventListener('click', function() {
            const message = messageInput.value;
            chatSocket.send(JSON.stringify({ message: message, token: token }));
            messageInput.value = '';
        });
    </script>
</body>
</html>